*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li{
  list-style: none;
}

.main-content {
  min-height: 49vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
@@ -46,6 +50,10 @@
  width: 20px;
}

.data{
  display: flex;
  flex-direction: column;
}
.input-field:focus {
  outline: none;
}
@@ -54,6 +62,26 @@
  border: none;
}

.todo-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.check-box {
  margin-right:4px ;
}

.delete-icon {
  background-image: url(/src/assets/menu.png);
  background-size: cover;
  height: 13px;
  width: 13px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  font-size: 20px;
  color: rgb(139, 139, 139);
} 